* {
  font-family: 'Fira Sans', sans-serif;
}


.header {
  font-weight: 400;
  white-space: nowrap;
  display: block;
  font-size: 15pt;
  float: left;
  margin-left: 40px;
}


body {
   background-image: url("bulldog.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #f0ecee;
}

.content {
  resize: horizontal
  overflow: auto;
  margin-top: 200px;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: none;
  width: auto;
  float: right;
}

.menu ul li {
  list-style: none;
  float: left;
}

.menu ul li a {
  padding: 10px;
  text-align: center;
  display: block;
  color: #88898b;
  text-decoration: none;
  font-weight: 300;
}

.menu ul li a#contact{
  display: block;
  color: white;
  background: #ff4850;
  border-radius: 5px;
  font-weight: 300;
}

.menu ul li a#contact:hover {
  color: #88898b;
}

.menu ul li a:hover {
  display: block;
  background-color: #ccc;
  border-radius: 15px;
  color: #ff4850;
}

h1 {
  margin-left: 40px;
  font-weight: 600;
  width: 500px;
  font-size: 22pt;
}


p {
  margin-left: 40px;
  color: #88898b;
  font-weight: 300;
  width: 450px;
  font-size: 13pt;
}


.adopting {
  color: #ff4850;
}

.content a#find {
  display: inline-block;
  color: white;
  background-color: #ff4850;
  font-weight: 300;
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  margin-left: 40px;
}

.content a#find:hover {
  background-color: #ccc;
}

.Me {
  color: #ff4850;
  display: inline;
}

.adopting {
  color: #ff4850;
}

/*check slack for max width size*/

@media screen and (min-width:320px) and (max-width:480px){
  *
  {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
  }

title {
  display: none;
}

.Me {
  display:inline;
}



.adopting {
  display: inline;
  width: auto;
}


.header {
  font-size: 20pt;
  vertical-align: text-top;
  margin: 10px;
}


.header a#contact {
  border-radius: 0px;
}

#contact
{
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: 0px 0px 0px 0px
  width: 100%;
}


.menu ul {
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px;
}


.menu ul li a
{
	padding-top: 2px;
  padding-bottom:2px;
  text-align: left;
	display: block;
	text-decoration: none;
  font-weight: 300;
  font-size: 14pt;
  display: flex;
  justify-content: flex-start;
}



  body {
    background-color: #F0ECEE;
    background-image: none;
    justify-content: initial;
  }



h1 {
  font-size: 25pt;
  margin-left: 10px;
  display: inline;
  width: 300px;
  margin-bottom: 0px;
}



 p {
   margin: 0px 10px 10px 10px ;
   font-size: 11pt;
   padding: 0px 0px 5px 0px;
 }


.content{
  margin-top: 0;
}

.content a#find {
  padding: 10px 40px 10px 40px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border-radius: 5px;
  width: 100%;
}



#find {
  font-size: 14pt;
  background-color: #ff4850;
  border-radius: 5px;
  width: 100%;
}
